In [ ]:
import numpy as np
import pandas as pd

Create a DataFrame `df_owner` that looks like this

<img src="data/table1.png" style="width: 150px;"/>

Create a DataFrame `df_owner_pet` that looks like this

<img src="data/table2.png" style="width: 150px;"/>

Create a DataFrame `df_pet` that looks like this

<img src="data/table3.png" style="width: 150px;"/>

**Exercise 1**

Using `pnadas` DataFrame methods, create a table of people and their pets â€” i.e, the table just has two columns (name of persion, name of pet). Exclude obese pets with weight over 20. The solution looks like this:

<img src="data/table4.png" style="width: 150px;"/>

First merge `df_owner` and `df_owner_pet` . Think about what `join` to use.

Then merge in `df_pet` Think about what join to use.

Finally, exlude rows where the pet is over 200 in weight.

**Exercise 2**

Do the same thing in SQL.

In [ ]:
%load_ext sql

See what you can do with SQL magic

In [ ]:
?%sql

Create an in-memory database to store tables.

In [ ]:
%sql sqlite://

Convert DataFrames to SQL tables for querying.

In [ ]:
%sql -n -P df_owner

In [ ]:
%sql -n -P df_owner_pet

In [ ]:
%sql -n -P df_pet

First try inspecting each table using SQL.

Now use JOINS to combine the 3 tables. You can do this incrementally and see the results.

Finally, modify the SELECT statement so you only get the two columns and exclude pets with weight > 20.