# Homework 1: Use of Python collections

**1**. Create a list of all square numbers (e.g., 9, 16) that are greater than 100 but less than 1,000. Do this using:

    1. A for-loop
    2. A list comprehension
    3. The functions `map` and `filter`
    
In each case, your solution should be the list

```Python
[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]
```

Hint 1

In [1]:
xs = []
for i in range(20):
    if i % 2 == 0:
        xs.append(i)
xs

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Hint 2

In [2]:
xs = [i for i in range(20) if i % 2 == 0]
xs

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Hint 3

In [3]:
xs = list(filter(lambda x: x%2==0, range(20)))
xs

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Solution to exercise 1

In [4]:
xs1 = []
for i in range(11, 40):
    if i**2 >= 1000:
        break
    xs1.append(i**2)
print(xs1)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

In [5]:
xs2 = [i**2 for i in range(11, 40) if i**2 < 1000]
print(xs2)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

In [6]:
xs3 = list(filter(lambda x: x < 1000, map(lambda x: x**2, range(11, 40))))
print(xs3)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

**2**. Create a `namedtuple` like this

```Python
Point(x=1, y=2, z=3)
```

Extract the "y coordinate" using numeric and keyword indexing and check that two values are equal.

Hint

In [7]:
from collections import namedtuple

help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

## Solution to exercise 2

In [8]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y', 'z'])
p = Point(x=1, y=2, z=3)

In [9]:
p

Point(x=1, y=2, z=3)

In [10]:
# check that numeric and keyword indexing return the same value
p[1] == p.y

True

**3**. Convert the follwoing haiku to lowercase. Than record the count of each character in a dictionary. Do not include characters that represent blank space.

```python
On a withered branch
A crow has alighted
Nightfall in autumn
```

Print the top 5 most frequently occuring letters with their counts. (Just print the top 5, ignoring ties)

Hint

In [11]:
s = """
Goodbye
cruel world!
"""

In [12]:
print([char for char in s.lower() if char.isalpha()])

['g', 'o', 'o', 'd', 'b', 'y', 'e', 'c', 'r', 'u', 'e', 'l', 'w', 'o', 'r', 'l', 'd']

In [13]:
d = dict(a=1, b=2, c=3)
d

{'a': 1, 'b': 2, 'c': 3}

In [14]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [15]:
d['a'] = d.get('a', 0) + 10
d

{'a': 11, 'b': 2, 'c': 3}

In [16]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [17]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [18]:
s = """
On a withered branch
A crow has alighted
Nightfall in autumn
"""

## Solution to exercise 3

Version 1

In [19]:
counts = {}
for letter in s.lower():
    if not letter.isspace(): # ignore blank space
        counts[letter] = counts.get(letter, 0) + 1
counts

{'o': 2,
 'n': 5,
 'a': 7,
 'w': 2,
 'i': 4,
 't': 4,
 'h': 5,
 'e': 3,
 'r': 3,
 'd': 2,
 'b': 1,
 'c': 2,
 's': 1,
 'l': 3,
 'g': 2,
 'f': 1,
 'u': 2,
 'm': 1}

In [20]:
sorted(counts.items(), key=lambda x: x[1], reverse=True)[:5]

[('a', 7), ('n', 5), ('h', 5), ('i', 4), ('t', 4)]

Version 2

In [21]:
from collections import Counter

letters = [char for char in s.lower() if not char.isspace()]
c = Counter(letters)

In [22]:
c.most_common(5)

[('a', 7), ('n', 5), ('h', 5), ('i', 4), ('t', 4)]

**4**. Find the intersection of the numbers in the two lists `xs` and `ys` provided.

In [23]:
import random

xs = [random.randint(0, 1000) for i in range(100)]
ys = [random.randint(0, 1000) for i in range(100)]

Hint

In [24]:
set([1,1,1,2,2,3,2,1,4])

{1, 2, 3, 4}

## Solution to exercise 4

Version 1

In [25]:
set(xs) & set(ys)

{30, 33, 44, 104, 215, 381, 454, 483, 522, 526, 787}

Version 2

In [26]:
set(xs).intersection(set(ys))

{30, 33, 44, 104, 215, 381, 454, 483, 522, 526, 787}

Version 3

Note: Version 3 is very inefficient compared to use of `set`

In [27]:
common = []
for x in xs:
    for y in ys:
        if x==y and x not in common:
            common.append(x)
sorted(common)

[30, 33, 44, 104, 215, 381, 454, 483, 522, 526, 787]