# Homework 2: Working with strings

The notes from my course might be helpful

- https://people.duke.edu/~ccc14/sta-663-2019/notebook/S02_Text_Annotated.html
- https://people.duke.edu/~ccc14/sta-663-2018/notebooks/S05_Text_Annotated.html

**1.** A formatting exercise.

In [1]:
import numpy as np
np.random.seed(42)
ps = np.random.beta(0.2, 0.2, 10)

Write code so that the values in `ps` are printed like so:
    
```python
p < 0.001
p < 0.001
p = 0.009
p = 0.061
p = 0.306
p = 0.489
p = 0.500
p = 0.732
p = 0.878
p = 0.999
```

## Solution to exercise 1

**2**. Write a funciton that converts an integer in base 10 to one in base 2 (as a string) and return the number of 0s and 1s in it in a dictionary.

Recall:

$$
14 = 1 \times 2^3 + 1 \times 2^2 + 1 \times 2^1 + 0 \times 2^0 = 1110
$$

The results should look similar to this:

```python
In : count_bits(14)
Out: {'0': 1, '1': 3}
```

## Solution to exercise 2

**3**. Read in the two books by James Joyce stored in `data/portrait.txt` and `data/ulysses.txt` and create a `pandas DataFrame` where each row is word in either book, each column is a book and each cel contains the number of occurrences of that word in each book. 

For simplicity, do the following:

- Convert all text to lower case
- Remove all punctuation
- Connsider any text sepearated by white space as a "word"

Hint: 

- To remove punctuation, look up `string.punctuation` and `str.translate`
- You need to find the vocabulary (union of unique words in both books)
- You can use `collections.Counter` to count words
- To create a pandas DataFrame

In [3]:
import pandas as pd

books = ['Book 1', 'Book 2']
words = ['apple', 'banana', 'cherry']
counts = [
    [1, 3],
    [2, 1],
    [3, 2],
]
df = pd.DataFrame(counts, columns=books, index=words)
df

        Book 1  Book 2
apple        1       3
banana       2       1
cherry       3       2

## Solution to exercise 3

## Exercise 4: Do the first 5 sets of Regex Golf

See instructions at https://alf.nu/RegexGolf?world=regex&level=r00

These exercises are named

- Warmup
- Anchors
- It never ends
- Ranges
- Backrefs

Hint: These are useful regex patterns (not all requireed)

- Any character `.`,
- Quantity modifier `+`, `*`
- Alternatives `(cat|dot)`
- Character class `[]`
- Grouping `()`
- Back refs `\1`, `\2`
- Word boundary `\b`
- Space `\s`
- Numbers `\d` or `[0-9]`
- Beginning of string `^`
- End of string `$`

## Solutions to exercsie 4