# Build programming fluency.

We will do this together in our next session(s).

**1**. (Review)

Find the number less than 1,000 that generates the longest Collatz sequence.

In [1]:
def f(n):
    return n//2 if n % 2 == 0 else 3*n+1

def collatz(n):
    ns = [n]
    while n != 1:
        n = f(n)
        ns.append(n)
    return ns

def find_longest(n_max):
    pairs = [(len(collatz(n)), n) for n in range(1, n_max)]
    return max(pairs)[1]

find_longest(1000)

871

**2**, (Review)

Find the length of the longest sequence of heads in 10,000 simulated tosses of a fair coin. Now repeat for a biased coin, wehre the probability of heads = 0.55. How much longer is the second run of heads than the first?

In [2]:
import numpy as np
import re

n_tosses = 10_000

def max_run(n_tosses, p=0.5):
    tosses = np.random.choice(['H', 'T'], n_tosses, p=(p, 1-p))
    seq = ''.join(tosses)
    
    runs = re.findall('H+', seq)
    return len(max(runs, key=len))

max_run(n_tosses, p=0.55) - max_run(n_tosses)

2

**3**. 

A Pythagorean triplet is a set of postive integers $(a, b, c)$ such that $a^2 + b^2 = c^2$. For example, $(3,4,5)$ is a Pythagorean triplet. Find all Pythagorean triplets for $c < 100$.

In [3]:
def pythagorean_triplets(max_c):
    triplets = []
    for a in range(1, max_c):
        for b in range(a, max_c):
            c = np.sqrt(a**2 + b**2)
            if c >= max_c:
                continue
            if c.is_integer():
                triplets.append( (a, b, int(c)))
    return triplets

pythagorean_triplets(100)

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

**4**. 

In the game craps, you roll two 6-sided dice. Firstt roll — You win if a 7 or 11 roll, or lose if 2, 3, or 12 roll (known as “craps”). Any other number that rolls becomes the “point” and the point must roll again before a 7 to win.

Simulate 1,000 games of craps to estimate your probability of winning.

In [4]:
import numpy as np

def craps():
    """Return 1 for win and 0 for lose."""
    
    point = sum(np.random.choice(range(1,7), 2))

    rolls = [point] # for debugging

    if point in (7, 11):
        return (1, rolls)
    elif point in (2, 3, 12):
        return (0, rolls)
    else:
        roll = sum(np.random.choice(range(1,7), 2))
        rolls.append(roll) # for debugging
        while roll not in (point, 7):
            roll = sum(np.random.choice(range(1,7), 2))
            rolls.append(roll) # for debugging
        if roll == point:
            return (1, rolls)
        else:
            return (0, rolls)

# for debugging
for i in range(10):
    print(craps())

n_games = 1000
games = [craps()[0] for i in range(n_games)]
sum(games)/n_games

(1, [9, 9])
(0, [12])
(0, [8, 5, 9, 5, 7])
(0, [9, 7])
(0, [10, 6, 8, 8, 3, 9, 7])
(0, [9, 6, 7])
(0, [4, 5, 9, 2, 8, 7])
(0, [8, 3, 12, 7])
(0, [9, 3, 7])
(1, [10, 10])

0.5

**5**.

Work wiht the Pokemon DataFrame provided below.

1. Create a DataFrame called `df_legend` containing only Legendary Pokemon. Each question after this will use the new DataFrame that you created and not the origianl.
2. What is the average speed of each Generation?
3. What is the most common `Type 1` class ?
4. Find all Pokeon whose names begin wiht the letter `A` or ends in a vowel.
5. Create a new DataFrame by removing all Pokemon that have *any* missing data.

In [5]:
import pandas as pd

url = 'https://rb.gy/u5avn'
df = pd.read_csv(url, index_col=0)
df.sample(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
639,Terrakion,Rock,Fighting,580,91,129,90,72,90,108,5,True
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
185,Sudowoodo,Rock,NaN,410,70,100,115,30,65,30,2,False
65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
687,Malamar,Dark,Psychic,482,86,92,88,68,75,73,6,False
432,Purugly,Normal,NaN,452,71,82,64,64,59,112,4,False
522,Blitzle,Electric,NaN,295,45,60,32,50,32,76,5,False
132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False

**6**.

Use the `df_legend` DataFrame from Exercise 5.1

1. Using `seaborn`, create a grid of `violin` plots where each row shows a differnet generation, each column shows a differnt `Type 1` class, the `x` axis is for `Attack` and the `y` axis is for `Defense`.
2. Create a `tall` dataFrame where the `id_vars` are `Name` and `Type 1`, and the variables and values are from the `HP, Attack, Defense` columns.
3. Using `seaborn`, create 3 columns of `swarm` plots - one each for `HP`, `Attack`, or `Defense`. Each plot should show `Type 1` class on the x-axis, and the distribution of the values relevant for that column — i.e., values for `HP`, `Attack`, or `Defense`.