# Los Angeles data

## URL examples to get census data

In [1]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# url = 'https://api.census.gov/data/2019/acs/acs1/profile?get=NAME,DP03_0001E&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'
url = 'https://api.census.gov/data/2010/dec/sf1?get=LSAD_NAME,P001001&for=tract:*&in=state:06'

In [3]:
df = pd.read_json(url)

df.columns = df.loc[0]
df = df.drop(0)
# df.to_csv()
df

0                LSAD_NAME P001001 state county   tract
1     Census Tract 4340.04    2796    06    037  434004
2        Census Tract 4600    4851    06    037  460000
3        Census Tract 4602    5315    06    037  460200
4     Census Tract 4603.01    4638    06    037  460301
5     Census Tract 4603.02    4442    06    037  460302
...                    ...     ...   ...    ...     ...
8053     Census Tract 1541    3729    06    097  154100
8054  Census Tract 1542.01    3925    06    097  154201
8055    Census Tract 38.04    6450    06    099  003804
8056    Census Tract 38.05    2667    06    099  003805
8057    Census Tract 39.04    4374    06    099  003904

[8057 rows x 5 columns]

### The boook uses a very roundabout way of getting the same data

I suggest you use the `read_json` method above.

In [5]:
import requests
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [6]:
# The built out request for the URL  https://api.census.gov/data/2010/dec/sf1?get=LSAD_NAME,P001001&for=tract:*&in=state:06
HOST = "https://api.census.gov/data"
year = "2010"
dataset = "dec/sf1"
base_url = "/".join([HOST, year, dataset])
predicates = {}
get_vars = ["LSAD_NAME", "P001001"]
predicates["get"] = ",".join(get_vars)
predicates["for"] = "tract:*"
predicates["in"] = "state:06"
r = requests.get(base_url, params=predicates, verify=False)

In [7]:
# Create user friendly column names
tract_name = ["tract_name", "tract_pop", "state_fips", "county_fips", "tract_fips"]
# Reading the json into pandas df
tractdf = pd.DataFrame(columns=tract_name, data=r.json()[1:])
# Changing data types to integer
tractdf["tract_pop"] = tractdf["tract_pop"].astype(int)

tractdf

                tract_name  tract_pop state_fips county_fips tract_fips
0     Census Tract 4340.04       2796         06         037     434004
1        Census Tract 4600       4851         06         037     460000
2        Census Tract 4602       5315         06         037     460200
3     Census Tract 4603.01       4638         06         037     460301
4     Census Tract 4603.02       4442         06         037     460302
...                    ...        ...        ...         ...        ...
8052     Census Tract 1541       3729         06         097     154100
8053  Census Tract 1542.01       3925         06         097     154201
8054    Census Tract 38.04       6450         06         099     003804
8055    Census Tract 38.05       2667         06         099     003805
8056    Census Tract 39.04       4374         06         099     003904

[8057 rows x 5 columns]